---
import Layout from "@/components/astro/Layout.astro";

const title = "Han — Software Engineer";
const description =
  "'A professional freelancer who could help you solve your software engineer and UI design problem";
---

<Layout title={title} description={description}>
  <h1>Hello, React!</h1>
</Layout>
